
<nav class="navbar navbar-expand-sm bg-danger navbar-primary">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapsibleNavbar" class="collapse navbar-collapse">

        <ul class="navbar-nav">
            <li class="nav-item"><a href="http://localhost:4200/user-product" class="nav-link"><b> HOME | </b></a></li>
        
        </ul>
    </div>
               
</nav>

        <div>

            
<b>About Us</b>
<p>Welcome to RuralConnect, your gateway to comprehensive resources and community support tailored specifically for rural areas. 
Our mission is to bridge the gap between rural communities and essential services, fostering growth, sustainability, 
and a higher quality of life for rural residents.
</p>

<b>Our Vision</b>
<p>
At RuralConnect, we envision thriving rural communities empowered by accessible information, technology, 
and a strong network of support. We aim to enhance the economic, social, and cultural vitality of rural 
areas by providing a platform that addresses their unique needs.
</p>

<b>Our Mission</b>
<p>
Our mission is to deliver a user-friendly, all-encompassing web application that connects rural residents with vital resources, 
services, and each other. We are dedicated to promoting rural development, enhancing access to healthcare, education, 
and business opportunities, and fostering a sense of community among rural populations
</p> 
</div>
