<!--
<div class="bg-img">
<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Update Courses</h4>
            <p class="card-text">ADD , Delete or Update Courses</p>
            <button type="submit" class="btn btn-info" (click)="admincourses()">Click Here</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
      </div>
    </div>
</div>


<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">Update Quizes</h4>
            <p class="card-text">ADD , Delete or Update Quizes</p>
            <button type="submit" class="btn btn-info" (click)="adminquizes()">Click Here</button>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
      </div>
    </div>
</div>

-->
<div class="bg-img">
  <button class="back" (click)="Back()">Back To ADMIN Home</button>
<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5">
<h1 >ADMIN AUTHORITY PANEL</h1> <p class="lead"> </p>
      </div>
    </div>
  <div class="row">
 <div class="col-md-12 col-md-6 col-md-4 mb-4"><div class="card text-dark card-has-bg click-col" (click)="admincourses()"  style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">UPDATE COURSES </small>
            <h4 class="card-title mt-0 "><a class="text-dark"></a></h4>
           <small><i class="far fa-clock"></i>ADD , Delete or Update Courses</small>
          </div>
          <div class="card-footer">
           <div class="media">
  <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80" alt="Generic placeholder image" style="max-width:50px">
  <div class="media-body">
    <h6 class="my-0 text-dark d-block">ADMIN AUTHORITY</h6>
     <small></small>
    </div>
    </div></div>
  </div></div></div>



  <div class="col text-center mb-5">
   <p class="lead"> </p>
          </div>
       
     <div class="col-md-12 col-md-6 col-md-4 mb-4"><div class="card text-dark card-has-bg click-col" (click)="adminquizes()"  style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
             <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
             <div class="card-body">
                <small class="card-meta mb-2">UPDATE QUIZZES </small>
                <h4 class="card-title mt-0 "><a class="text-dark"></a></h4>
               <small><i class="far fa-clock"></i>ADD , Delete or Update Quizzes</small>
              </div>
              <div class="card-footer">
               <div class="media">
      <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png?format=auto&version=1688931977&width=80&height=80" alt="Generic placeholder image" style="max-width:50px">
      <div class="media-body">
        <h6 class="my-0 text-dark d-block">ADMIN AUTHORITY</h6>
         <small></small>
        </div>
        </div></div>
      </div></div></div>



</div>
</div>
</section>
</div>