.bg-img {
    background-image: url("admin_quizzes.avif");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

table{
zoom: 85%;
}