
<div class="bg-img">
    <nav class="bg-dark navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>LOGOUT</a>
    </div>
    </nav>
     <section id="header" class="jumbotron text-center">
       <h1 class="display-3">SHIKSHA CHAKRA</h1>
       <p class="lead">ENLIGHTING THE WORLD TOGETHER</p>
       <a href="" class="btn btn-primary">HOME</a>
       <a href="" class="btn btn-secondary">QUIZZES</a>
  </section>
    
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4" *ngFor="let i of playlist.items">
      <div class="card">

        <iframe id="player" type="text/html" width="415" height="390"
            [src]="getVideoUrl(i.snippet.resourceId.videoId)" frameborder="0" allowfullscreen></iframe>

        <div class="card-body">
          <h5 class="card-title">{{i.snippet.channelTitle}}</h5>
          <p class="card-text">{{i.snippet.description}}</p>
        </div>
       </div>
      </div>
   
    </div>
  </div>
  </section>
</div>