
<section>
    <div class="container py-3">
      <div class="card">
        <div class="row ">
            <h1 style="color: darkgreen;">You Have Ordered Sucessfully</h1>
            <p>Explore Our Products More
            <a style="color:blue" href="http://localhost:4200/user-product" >Go to Home<b></b></a><p>
                
          </div>
        </div>
    </div>
  </section>
<!--
  <table class="table table-striped">
    <thead>
        <tr>         
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of cart1">
          
            <td>{{i.prodid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.total}}</td>

        </tr>

    </tbody>
</table>
-->